/* ALL */
html{
    background-color: rgb(246, 241, 233);
    color: rgb(79, 32, 13)
}
img {
    max-height: 300px;
}
button:hover {
    background-color: rgb(236, 211, 185);
}
/* MISC */
.bg-container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255. 5.0);
}

/* NAVBAR/LINKS */

.nav-link {
    width: 60px;
    text-align: center;
    border-radius: 10px;
}

.nav-link:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}
.nav-bar{
    position: sticky;
    background-color: rgb(255, 217, 61);
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
}

/* CARDS */
.bird-card {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    border:1px solid rgb(187, 171, 156);
    border-radius: 10px;
    width:500px;
    height:500px;
}
.border-bottom {
    border-bottom: 1px solid rgb(187, 171, 156);
}

.bird-card:hover {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
    transition: 1s;
    background-color: rgb(236, 211, 185);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
/* MODAL */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* HEARTS */
.heart {
    color:rgb(229, 87, 87);
}
.heart:hover {
    color: rgb(141, 0, 0);
    transform: scale(1.5);
    transition: all 0.4s ease-in-out;
}

.center-img{
    align-items: center;
}

/* SIGHTINGS */
.sighting-container{
    max-width: 400px;
}

/* FOOTER */
.footer {
    background-color: rgb(122, 79, 62);
    color: rgb(55, 23, 10);
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
.footer-icon {
    color: rgb(86, 47, 5);
}
